$light-color:#fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333;
  color: $light-color;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 20px 0;
}

.area {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;

  .item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &.t {
      border-top: 1px solid $light-color;
    }

    &.l {
      border-left: 1px solid $light-color;
    }

    &.r {
      border-right: 1px solid $light-color;
    }

    &.b {
      border-bottom: 1px solid $light-color;
    }
  }
}

.info {
  width: 300px;
  display: flex;
  margin-top: 30px;
  border: 1px dotted $light-color;
  padding: 10px;

  &-item {
    flex: 1;

    .info-titulo {
      text-align: center;
      margin-bottom: 10px;
    }

    .info-corpo {
      text-align: center;
      font-size: 20px;
    }
  }
}

.reset {
  cursor: pointer;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.2);
  color: $light-color;
  padding: 10px;
  margin-top: 20px;
}